<div class="col-12">

    <div class="row">
        <div class="embed-responsive embed-responsive-16by9" style="height: 250px;">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/BMx2NTZRElU" allowfullscreen></iframe>
          </div>
      
        </div>

<div class="row">
<div class="col-md-4">
<img src="assets/1.gif" height="200" width="100%"/>
</div>
<div class="col-md-4">
    <img src="assets/2.gif" height="200" width="100%"/>
    </div>
    <div class="col-md-4">
        <img src="assets/3.gif" height="200" width="100%"/>
        </div>
</div>


<div class="row">
    <div class="col-md-4">
    <img src="assets/4.gif" height="200" width="100%"/>
    </div>
    <div class="col-md-4">
        <img src="assets/5.gif" height="200" width="100%"/>
        </div>
        <div class="col-md-4">
            <img src="assets/6.gif" height="200" width="100%"/>
            </div>
    </div>

    
<div class="row">
    <div class="col-md-4">
    <img src="assets/7.gif" height="200"width="100%"/>
    </div>
    <div class="col-md-4">
        <img src="assets/8.gif" height="200" width="100%"/>
        </div>
        <div class="col-md-4">
            <img src="assets/9.gif" height="200" width="100%"/>
            </div>
    </div>
</div>